.App {
  text-align: center;
}

.App-logo {
  margin-top: 20px;
}

.App-header {
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.containerProduct{
  margin: 30px;
  width: 60%;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
